<!DOCTYPE html>
<html lang="en">

<head>
    <%include ./head%>
        <title>Home Page</title>
</head>

<body>
    <div class="row layout">
        <div class="col-lg-2 tab-bar">
            <%include ./root%>
        </div>
        <div class="col-lg-10">
            <h2 class="welcome-message">Xin chào, admin
                <b style="color: chartreuse">
                    <%=admin%>
                </b>
            </h2>
            <%if (posts.length !== 0) {%>
            <h6 style="margin-left:  20px">Các bài đăng đang chờ duyệt</h6>
            <table id="unconfirmed-home" class="table post-table">
                <thead style="background: chartreuse">
                    <tr>
                        <th scope="col">Tên nhà trọ</th>
                        <th scope="col">Chủ Nhà</th>
                        <th scope="col">Giá(VNĐ)</th>
                        <th scope="col">Tình trạng</th>
                        <th scope="col">Thời gian</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- post id -->
                    
                    <%posts.forEach(function(post) {%>
                        <tr onclick="location.href = '/admin/post/<%=post._id%>'" class="post-item">
                            <td><%=post.title%></td>
                            <td><%=post.user.name%></td>
                            <td><%=post.room.price%></td>
                            <td style="color: yellow">
                                Đang chờ xử lý
                            </td>
                            <td><%=post.request_date.toString().split('GMT')[0]%></td>
                        </tr>
                        <%});%>
                </tbody>
            </table>
            
            <%} else {%>
                <h6>Tất cả bài đăng đã được duyệt</h6>
            <%}%>    
        </div>
    </div>
</body>

</html>