<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Add new
    <%=type%>
  </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/templates/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/templates/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/templates/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="/templates/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/templates/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/templates/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:/templates/partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">

      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-right">

          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text">Hello,
                <%=admin.name%> !</span>
              <img class="img-xs rounded-circle" src="<%=admin.image%>" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">

              <a class="dropdown-item mt-2">
                Edit Profile
              </a>
              <a class="dropdown-item">
                Change Password
              </a>
              <a href="/admin/logout" class="dropdown-item">
                Sign Out
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:/templates/partials/_sidebar.html -->

      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="<%=admin.image%>" alt="profile image">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">
                    <%=admin.name%>
                  </p>
                  <div>
                    <small class="designation text-muted">Administrator</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/home">
              <i style="color: black" class="menu-icon mdi mdi-television"></i>
              <span style="color: black" class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#user-list" aria-expanded="false" aria-controls="user-list">
              <i  style="color: black" class="menu-icon mdi mdi-account-circle"></i>
              <span style="color: black"class="menu-title">User</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="user-list">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a style="color: black"class="nav-link" href="/admin/user">All Users</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#post-list" aria-expanded="false" aria-controls="post-list">
              <i style="color: black" class="menu-icon mdi mdi-content-copy"></i>
              <span style="color: black" class="menu-title">Post</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="post-list">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a style="color: black" class="nav-link" href="/admin/post">All Posts</a>
                </li>
                <li class="nav-item">
                  <a style="color: black" class="nav-link" href="/admin/post_report">Post Reports</a>
                </li>
              </ul>
            </div>
          </li>

        </ul>
      </nav>

      <!-- partial -->
      <%if (typeof(error) !== 'undefined') {%>
        <script>alert('<%=error%>')</script>
        <%}%>
             
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Create new
                    <%=type%>
                  </h4>
                  <p class="card-description">
                    Fill in all blanks
                  </p>
                  <form enctype="multipart/form-data" id="newAccountForm" class="forms-sample" action="/admin/user/add_new_account/<%=type%>" method="POST">
                    <div class="form-group">
                      <label for="exampleInputName1">Name</label>
                      <%if (typeof(error) !== 'undefined') {%>
                        <input value="<%=fields.name%>" type="text" name="name" required class="form-control" id="exampleInputName1" placeholder="Name">
                      <%} else {%>
                        <input type="text" name="name" required class="form-control" id="exampleInputName1" placeholder="Name">
                      <%}%>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Email</label>
                      <%if (typeof(error) !== 'undefined') {%>
                        <input type="email" value="<%=fields.email%>" name="email" required class="form-control" id="exampleInputEmail3" placeholder="Email">
                        <%} else {%>
                          <input type="email" name="email" required class="form-control" id="exampleInputEmail3" placeholder="Email">
                        <%}%>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword4">Password</label>
                      <input type="password" name="password" required class="form-control" id="exampleInputPassword4" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <label>Avatar</label>
                      <div class="input-group col-xs-12">
                        <input type="file" accept="image/*" name="avatar" required class="form-control file-upload-info" placeholder="Avatar">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputCity1">Phone</label>
                      <%if (typeof(error) !== 'undefined') {%>
                        <input value="<%=fields.phone%>" pattern="[0-9]{1,11}" title="Max 11 number only" type="text" name="phone" required class="form-control" id="exampleInputCity1"
                        placeholder="Phone">
                        <%} else {%>
                          <input pattern="[0-9]{1,11}" title="Max 11 number only" type="text" name="phone" required class="form-control" id="exampleInputCity1"
                        placeholder="Phone">
                        <%}%>
                      
                    </div>
                    <div class="form-group">
                      <label for="exampleInputCity2">Role</label>
                      <input type="text" class="form-control" disabled id="exampleInputCity2" value="<%=type%>">
                    </div>
                    <button id="btnAddNewAccount" type="submit" class="btn btn-success mr-2">Submit</button>
                    <a href="/admin/user" class="btn btn-light">Cancel</a>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:/templates/partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="http://www.bootstrapdash.com/" target="_blank">Sweet Motel</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i>
            </span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/templates/vendors/js/vendor.bundle.base.js"></script>
  <script src="/templates/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/templates/js/off-canvas.js"></script>
  <script src="/templates/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>