<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>All Posts</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/templates/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/templates/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/templates/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="/templates/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/templates/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/templates/images/favicon.png" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:/templates/partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-right">
          
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text">Hello, <%=admin.name%> !</span>
              <img class="img-xs rounded-circle" src="<%=admin.image%>" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              
                <a href="/admin/edit_profile" class="dropdown-item mt-2">
                  Edit Profile
              </a>
              <a href="/admin/change_password" class="dropdown-item">
                  Change Password
              </a>
              <a href="/admin/logout" class="dropdown-item">
                  Sign Out
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:/templates/partials/_sidebar.html -->
      
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="<%=admin.image%>" alt="profile image">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name"><%=admin.name%></p>
                  <div>
                    <small class="designation text-muted">Administrator</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/home">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#user-list" aria-expanded="false" aria-controls="user-list">
              <i class="menu-icon mdi mdi-account-circle"></i>
              <span class="menu-title">User</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="user-list">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="/admin/user">All Users</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#post-list" aria-expanded="false" aria-controls="post-list">
              <i class="menu-icon mdi mdi-content-copy"></i>
              <span class="menu-title">Post</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="post-list">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="/admin/post">All Posts</a>
                </li>
                <li class="nav-item">
                  <a style="color: black" class="nav-link" href="/admin/post_report">Post Reports</a>
                </li>
              </ul>
            </div>
          </li>

        </ul>
      </nav>
      
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

                <%if (length !== 0)  {
                    if (unconfirm.length !== 0) {%>
                        <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">Posts waiting to be confirmed</h4> 
                                    <div class="table-responsive">
                                            <table id="unconfirm-post" class="table table-hover">
                                              <thead>
                                                <tr>
                                                  <th>Title</th>
                                                  <th>Room's owner</th>
                                                  <th>Price</th>
                                                  <th>Status</th>
                                                  <th>Created at</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <%unconfirm.forEach(function (post) {%>
                                                    <tr onclick="location.href = '/admin/post/<%=post._id%>'">
                                                        <td>
                                                        <%=post.title%>
                                                    </td>
                                                    <td>
                                                        <%=post.user.name%>
                                                    </td>
                                                    <td>
                                                        <%=post.room.price%>
                                                    </td>
                                                    <td>
                                                        <label class="badge badge-warning">Waiting</label>
                                                    </td>
                                                    <td>
                                                        <%=post.request_date.toString().split('GMT')[0]%>
                                                    </td>
                                                    </tr>
                                                <%});%>
                                              </tbody>
                                            </table>
                                          </div>
                                  </div>
                                </div>
                              </div>
                    <%}%>

                    <div class="row">
                    <%if (confirm.length !== 0) {%>
                        <div class="col-lg-6 grid-margin stretch-card">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">All confirmed posts</h4> 
                                    <div class="table-responsive">
                                            <table id="confirm-post" class="table table-hover">
                                              <thead>
                                                <tr>
                                                  <th>Title</th>
                                                  <th>Room's owner</th>
                                                  <th>Price</th>
                                                  <th>Status</th>
                                                  <th>Created at</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <%confirm.forEach(function (post) {%>
                                                    <tr onclick="location.href = '/admin/post/<%=post._id%>'"> 
                                                        <td>
                                                        <%=post.title%>
                                                    </td>
                                                    <td>
                                                        <%=post.user.name%>
                                                    </td>
                                                    <td>
                                                        <%=post.room.price%>
                                                    </td>
                                                    <td>
                                                        <label class="badge badge-success">Confirmed</label>
                                                    </td>
                                                    <td>
                                                        <%=post.request_date.toString().split('GMT')[0]%>
                                                    </td>
                                                    </tr>
                                                <%});%>
                                              </tbody>
                                            </table>
                                          </div>
                                  </div>
                                </div>
                              </div>
                   
                    <%}%>

                    <%if (reject.length !== 0) {%>

                    <div class="col-lg-6 grid-margin stretch-card">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">All rejected posts</h4> 
                                    <div class="table-responsive">
                                            <table id="reject-post" class="table table-hover">
                                              <thead>
                                                <tr>
                                                  <th>Title</th>
                                                  <th>Room's owner</th>
                                                  <th>Price</th>
                                                  <th>Status</th>
                                                  <th>Created at</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <%reject.forEach(function (post) {%>
                                                    <tr onclick="location.href = '/admin/post/<%=post._id%>'">
                                                        <td>
                                                        <%=post.title%>
                                                    </td>
                                                    <td>
                                                        <%=post.user.name%>
                                                    </td>
                                                    <td>
                                                        <%=post.room.price%>
                                                    </td>
                                                    <td>
                                                        <label class="badge badge-danger">Rejected</label>
                                                    </td>
                                                    <td>
                                                        <%=post.request_date.toString().split('GMT')[0]%>
                                                    </td>
                                                    </tr>
                                                <%});%>
                                              </tbody>
                                            </table>
                                          </div>
                                  </div>
                                </div>
                              </div>
                    <%}%>
                </div>
                <%} else {%>
                  <h4 class="card-title">There's been no post yet.</h4>
                <%}%> 
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:/templates/partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="http://www.bootstrapdash.com/" target="_blank">Sweet Motel</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i>
            </span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/templates/vendors/js/vendor.bundle.base.js"></script>
  <script src="/templates/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/templates/js/off-canvas.js"></script>
  <script src="/templates/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#unconfirm-post').DataTable();
      $('#confirm-post').DataTable();
      $('#reject-post').DataTable();
    });
  </script>
</body>
</html>
